.login-button {
  width: 100%;
}

.double--p--css {
  display: flex;
  justify-content: space-between;
}

.double--p--css .first--p--css {
  width: 60%;
  font-size: 13px;
}

.seconf--p--css {
  width: 30%;
}

.seconf--p--css a,
.p_link a {
  text-decoration: none;
  color: var(--black--color);
  font-size: 13px;
}
